.css_grid{
    display:grid;
    /* align-content: start; */
    height:400px;
    margin:100px;
    gap:5px;
    padding: 5px;
    background-color:rgb(119, 219, 164) ;
    grid-template-columns: auto auto auto ;
    grid-template-rows:   auto auto auto;                  

}
.cell{
    display:-ms-inline-grid;
}
#cell1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.css_grid > div{
    background-color: rgb(178, 239, 223);
    text-align: center;
    padding-top: 10px;
    
 
    
}
div> img{
    padding-top: 5px;
    width: 80px;
    height: 100px;
}
div> video{
    height: 100px;
}
video::-webkit-media-controls-time-remaining-display {
    color: #f00;
  }